
.vs/EventMolecularDynamics/v14/.suo
.vs/EventMolecularDynamics/v15/.suo
*.db
*.ipch
.vs/EventMolecularDynamics/v16/.suo
*.dat
*.aps
*.obj
*.tlog
*.log
*.pch
*.res
*.pdb
*.exe
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.txt
